    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- //.page-scroll -->
                    
                    <ul class="list-inline social-icons">
                        
                        <li>
                            <div class="item">
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <a href="#" target="_blank"><i class="fa fa-github"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                        
                        <li>
                            <div class="item">
                                <a href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                            </div>
                            <!-- //.item -->
                        </li>
                       
                    </ul>
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
            
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright text-center">
                        <p class="text-grey">&copy; 2015 Dave Parsons. All rights reserved.</p>
                    </div>
                    <!-- //.copyright -->
                </div>
                <!-- //.col-md-12 -->
            </div>
            <!-- //.row -->
        </div>
        <!-- //.container -->
    </footer>
    <!-- //FOOTER END -->   
    
    <!-- Plugins JS -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="javascripts/magnificPopup/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="javascripts/main.js"></script>

</body>

</html>