<%- include partials/header.ejs %>

 <!-- PROFILE SECTION START -->
    <section id="profile" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">          
                    <div class="col-md-7 match-height">

                        <!-- PROFILE TEXT START -->
                        <div class="profile-text padding-right-yes">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 class="section-title">Hello, My Name is Dave.</h2>

                                    <span class="divider"></span>

                                    <p class="text-grey">
                                        I have a lot of fun with user interface, user experience, and graphic design. I also don't mind building out the front end of a website or app.
                                    </p>

                                    <p class="text-grey">
                                        I set out to follow my passion for design and interest in computers by pursuing graphic design courses throughout high school and the interactive web design and development program at Georgian College. I also recently completed a UI/UX design internship at Canadian Tire Innovations, located in one of Canada's largest tech communities, the Communitech Hub.
                                    </p>
                                </div>
                                <!-- //.col-md-12 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //PROFILE TEXT END -->

                        <!-- CONTACT DETAILS START -->
                        <div class="contact-details padding-right-yes">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <h4>Contact Details</h4>

                                    <ul class="list-unstyled text-grey">
                                        <li>David Parsons</li>
                                        <li>390 Queens Quay West, Toronto</li>
                                        <li>705 220 2230</li>
                                        <li>hello@dparsns.com</li>
                                    </ul>
                                </div>
                                <!-- //.col-md-5 -->

                                <div class="col-sm-6 col-md-7">
                                    <a href="#" class="btn btn-lg btn-custom">
                                        <i class="icon-File-Download"></i> Download Resume
                                    </a>
                                </div>
                                <!-- //.col-md-6 -->
                            </div>
                            <!-- //.row -->
                        </div>
                        <!-- //CONTACT DETAILS END -->

                    </div>
                    <!-- //.col-md-7 -->

                </div>
                <!-- //.row -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //PROFILE SECTION END -->

<%- include partials/footer.ejs %>
