<%- include partials/header.ejs %>

 <header id="home" class="hero">
        <div class="hero-body">
            <div class="hero-text text-center">
                <h1>
                    Dave Parsons <span class="blinker"></span>
                </h1>
                
                <h1 class="small">UI/UX Designer</h1>
                
            </div>
            <!-- //.hero-text -->
        </div>
        <!-- //.hero-body -->
    </header>

<%- include partials/footer.ejs %>
