<%- include partials/header.ejs %>

 <!-- PORTFOLIO SECTION START -->
    <section id="portfolio" class="section">
        <div class="container-fluid section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="section-title">My Latest Work</h2>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-12 -->
                </div>
                <!-- //.row -->
                
                <!-- PORTFOLIO START -->
                <div class="portfolio">
                    <div class="row">
                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="/images/shopngo.png" class="zoom" title="Illustration for proof-of-conept design, Shop and Pay">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Shop and Pay</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="/images/shopngo.png" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="/images/noma.png" class="zoom" title="Logo for Nomas' IoT platform">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Noma Home</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="/images/noma.png" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="/images/smartbarrel.png" class="zoom" title="Logo for proof-of-concept design, Smart Barrel">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Smart Barrel</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="/images/smartbarrel.png" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="/images/fightclub.png" class="zoom" title="Various illustrations for a Fight Club fan site">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Fight Club</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="/images/fightclub.png" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="/images/personal.png" class="zoom" title="Experimentation with personal branding">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Personal Branding</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="/images/personal.png" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="/images/ctihome.png" class="zoom" title="Candian Tire Innovations Logo">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>CTI Home</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="/images/ctihome.png" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="/images/uichallenge.png" class="zoom" title="Checkout card from the 100 day UI challenge I completed">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>UI Challenge</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="/images/uichallenge.png" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->

                        <div class="item col-sm-6 col-md-3">
                            <div class="project-wrapper">
                                <div class="project-link">
                                    <a href="/images/forgottenyouth.png" class="zoom" title="Shirt and patch design for apparel company Forgotten Youth">
                                        <i class="icon-Full-Screen"></i>
                                    </a>
                                </div>
                                <!-- //.project-link -->

                                <div class="project-title">
                                    <h4>Forgotten Youth Supply</h4>
                                </div>
                                <!-- //.project-title -->

                                <img src="/images/forgottenyouth.png" alt="" class="img-responsive"/>
                            </div>
                            <!-- //.project-wrapper -->
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- PORTFOLIO END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container-fluid -->
    </section>
    <!-- //PORTFOLIO SECTION END -->
    
<%- include partials/footer.ejs %>