<%- include partials/header.ejs %>

<!-- SERVICES SECTION START -->
    <section id="services" class="section">
        <div class="container section-wrapper">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="section-title">What I Do</h2>

                        <span class="divider center"></span>
                    </div>
                    <!-- //.col-md-8 -->
                </div>
                <!-- //.row -->
            
                <!-- SERVICES START -->
                <div class="services">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 item top dark-bg match-height">
                            <div class="inner-content">
                                <i class="icon-Monitor-5 colored-text"></i>

                                <h4>UI Design</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->

                        <div class="col-sm-4 col-md-4 item top match-height">
                            <div class="inner-content">
                                <i class="icon-Search-People colored-text"></i>

                                <h4>UX Design</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->

                        <div class="col-sm-4 col-md-4 item top dark-bg match-height">
                            <div class="inner-content">
                                <i class=" icon-Pencil-Ruler colored-text"></i>

                                <h4>Graphic Design</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->
                        
                        <div class="col-sm-4 col-md-4 item match-height">
                            <div class="inner-content">
                                <i class="icon-Palette colored-text"></i>

                                <h4>Branding</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->

                        <div class="col-sm-4 col-md-4 item dark-bg match-height">
                            <div class="inner-content">
                                <i class="icon-Brush colored-text"></i>

                                <h4>Illustration</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->

                        <div class="col-sm-4 col-md-4 item match-height">
                            <div class="inner-content">
                                <i class="icon-Code-Window colored-text"></i>

                                <h4>Front-end Development</h4>

                                <p class="text-grey">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </p>
                            </div>
                            <!-- //.inner-content -->
                        </div>
                        <!-- //.item -->
                    </div>
                    <!-- //.row -->
                </div>
                <!-- //SERVICES END -->
            </div>
            <!-- //.section-content -->
        </div>
        <!-- //.container -->
    </section>
    <!-- //SERVICES SECTION END -->

<%- include partials/footer.ejs %>